<form class="from-group" id="formGeneral" name="formGeneral" (submit)="createEquipo()">

    <div class="modal-factores">
        <h3 mat-dialog-title>Registro de Equipo</h3>
    </div>

    <div class="form-group">
        <mat-form-field class="full-width">
            <mat-label for="code">QR</mat-label>
            <input matInput type="text" (change)="Complete($event)" [(ngModel)]="equipo.qr"
                name="code" id="code" placeholder="Ingrese el QR" required
            >
        </mat-form-field>
    </div>
    <div class="form-group">
        <label class="col-sm-12">Fabricante</label>
        <div class="col-sm-12">
            <input list="fabic" name="fabic" class="form-control" placeholder="Filtrar por nombres"
                (change)="onFab($event)" [(ngModel)]="equipo.fabricante" autocomplete="off"
            >
            <datalist id="fabic">
                <option *ngFor="let f of fabricantes" value="{{f.name}}">
                    {{f.name}}
                </option>
            </datalist>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-12">Referencia</label>
        <div class="col-sm-12">
            <input list="ref" name="ref" class="form-control" placeholder="Filtrar por nombres"
                (change)="onRef($event)" [(ngModel)]="equipo.referencia" autocomplete="off"
            >
            <datalist id="ref">
                <option *ngFor="let r of referencias" value="{{r.name}}">
                    {{r.name}}
                </option>
            </datalist>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-12">Disco duro</label>
        <div class="col-sm-12">
            <input list="disk" name="disk" class="form-control" placeholder="Filtrar por nombres"
                (change)="onDisk($event)" [(ngModel)]="equipo.disco_duro" autocomplete="off"
            >
            <datalist id="disk">
                <option *ngFor="let d of disks" value="{{d.name}}">
                    {{d.name}}
                </option>
            </datalist>
        </div>
    </div>
    <div class="form-group">
        <label for="ram">RAM</label>
        <div class="row">
            <div class="col-6">
                <input type="number" [(ngModel)]="equipo.ram"  name="ram" id="ram" class="form-control" required>
            </div>
            <div class="col-6">
                <mat-form-field appearance="fill">
                    <mat-select [value]="this.equipo.tram" [(ngModel)]="this.equipo.tram" name="tram" id="tram">
                      <mat-option value="MB" >MB</mat-option>
                      <mat-option value="GB">GB</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-12">Procesador</label>
        <div class="col-sm-12">
            <input list="proc" name="proc" class="form-control" placeholder="Filtrar por nombres"
                (change)="onProc($event)" [(ngModel)]="equipo.procesador" autocomplete="off"
            >
            <datalist id="proc">
                <option *ngFor="let p of procs" value="{{p.name}}">
                    {{p.name}}
                </option>
            </datalist>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-12">Cedula de Persona a Cargo</label>
        <div class="col-sm-12">
            <input list="person" name="person" class="form-control" placeholder="Filtrar por cédula"
                (change)="onPer($event)" [(ngModel)]="equipo.a_cargo" autocomplete="off"
            >
            <datalist id="person">
                <option *ngFor="let per of people" value="{{per.ced}}">
                    {{per.ced}}-{{per.name}}
                </option>
            </datalist>
        </div>
    </div>
    <div class="form-group">
        <label for="qri">QR impresora</label>
        <input type="text" [(ngModel)]="equipo.impqr"  name="qri" id="qri" class="form-control" required>
    </div>
    <div class="form-group">
        <label class="col-sm-12">Referencia impresora</label>
        <div class="col-sm-12">
            <input list="refimp" name="refimp" class="form-control" placeholder="Filtrar por referencia"
                (change)="onRefImp($event)" [(ngModel)]="equipo.impref" autocomplete="off"
            >
            <datalist id="refimp">
                <option *ngFor="let rimp of refimps" value="{{rimp.name}}">
                    {{rimp.name}}
                </option>
            </datalist>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-12"> Cedula de Persona a Cargo  Impresora</label>
        <div class="col-sm-12">
            <input list="perimp" name="perimp" class="form-control" placeholder="Filtrar por cédula"
                (change)="onPerImp($event)" [(ngModel)]="equipo.impa_cargo" autocomplete="off"
            >
            <datalist id="perimp">
                <option *ngFor="let pp of people" value="{{pp.ced}}">
                    {{pp.ced}}-{{pp.name}}
                </option>
            </datalist>
        </div>
    </div>
    <div class="form-group">
        <mat-form-field class="full-width">
            <mat-label for="obs">Observaciones</mat-label>
            <input matInput type="textarea" [(ngModel)]="equipo.observaciones"
                name="obs" id="obs">
        </mat-form-field>
    </div>
    

    <div class="row">
        <div class="form-group col">
            <button type="submit" class="btn btn-primary" [mat-dialog-close]="equipo">Guardar</button>
        </div>
        <div class="form-group col">
            <button type="buttton" class="btn btn-cancel" (click)="this.dialogRef.close()">Cerrar</button>
        </div>
    </div>   
</form>