<form class="contenedor" id="formGeneral" name="formGeneral" (submit)="changePass()">

    <h1>Contraseña Olvidada</h1>
    <mat-divider></mat-divider>
    <br>


    <mat-form-field class="ancho" appearance="fill">
        <mat-label>Correo</mat-label>
        <input type="email" [(ngModel)]="user2.email"  name="email2" id="email2" matInput required />
    </mat-form-field>

    <mat-form-field class="ancho" appearance="fill">
        <mat-label>Contraseña</mat-label>
        <input type="password" [(ngModel)]="user2.password" name="pass2" id="pass2" matInput required />
    </mat-form-field>

    <mat-form-field class="ancho" appearance="fill">
        <mat-label>Confirmar Contraseña</mat-label>
        <input type="password" [(ngModel)]="user2.passwordn" name="pass3" id="pass3" matInput required />
    </mat-form-field>

    <div class="footer">
        <button type="submit" mat-raised-button color="primary">Cambiar Contraseña</button>
        <button mat-raised-button color="warn" [mat-dialog-close]="true">Cancelar</button>
    </div>

</form>
