mat-card{
    margin-top:4%;
}

.formulario_registro{
    display: flex;
    flex-direction: column;
}

mat-card-actions{
    display: flex;
    justify-content: center;
}

mat-card-actions button{
    width: 60%;
    height: 55px;
}