.contenedor{
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 2%;
}

mat-card{
    width: 50%;
    height: 80%;
    justify-self: center;
}

.formulario_registro{
    display: flex;
    flex-direction: column;
}

mat-card-actions{
    display: flex;
    justify-content: center;
}

mat-card-actions button{
    width: 80%;
    height: 55px;
}

.imagen{
    display: flex;
    justify-content: center;
    width: 60%;
    align-self: center;
    margin-bottom: 2%;
}