<div class="container pt-5 w-75">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="card">
                <div class="card-header">
                    Registro de Dependencia
                </div>
                <div class="card-body">
                    <form (submit)="registrarDependencia()">
                        <div class="form-group">
                            <label for="ced">Código Dependencia</label>
                            <input type="text" [(ngModel)]="dependencia.id_unidad" name="id_unidad" id="id_unidad" class="form-control" required autofocus>
                        </div>
                        <div class="form-group">
                            <label for="nombre">Nombre Dependencia</label>
                            <input type="text" [(ngModel)]="dependencia.nombre_unidad" name="nombre_unidad" id="nombre_unidad" class="form-control" required>
                        </div>
                        
                        <ng-container *ngIf="authService.loggedIn() && intmService.esAdmin()">
                            <div class="form-group">
                                <label class="col-sm-12">Tipo</label>
                                <div class="col-sm-12">
                                    <select class="form-control" [(ngModel)]="dependencia.tipo_unidad" ng-disabled="perfil_isEdit"
                                    name="roles" id="roles" required (change)="onTipoDep($event)">
                                        <option value="" selected>--- Seleccione ---</option>
                                        <option *ngFor="let tipo of tipos "  ngDefaultControl
                                        value="{{tipo}}">{{tipo}}</option>
                                    </select>
                                </div>
                            </div>
                        </ng-container>                    
                      
                        <button type="submit" class="btn btn-primary">Registrar</button>
                    </form>
                </div>
            </div>
    
        </div>
       
    </div>
    <br>
</div>


