/* Pantalla grande para portatiles */
.contenedor{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carta img{
    margin-top: -20px;
}

.largo{
    width: 90%;
}

.carta{
    width: 40%;
    margin-top: 1.7%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    padding: 2%;
}

.pie{
    width: 90%;
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

div .ingreso{
    height: 50px;
    width: 40%;
}

div .olvidada{
    height: 50px;
    width: 50%;
}

div .nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
/* ---------------------------------------------------------------------------------------- */

/* pantalla tamaño medio tablets */
@media screen and (max-width: 1000px) {
    .carta img{
        margin-top: 0px;
    }

    .carta{
        width: 70%;
    }
}
/* ---------------------------------------------------------------------------------------- */



/* Pantalla tamaño pequeño celulares */
@media screen and (max-width: 641px) {
    .carta{
        width: 80%;
    }

    .pie{
        flex-direction: column;
        align-items: center;
    }

    div .ingreso{
        height: 50px;
        width: 80%;
    }
    
    div .olvidada{
        height: 50px;
        width: 80%;
    }
}
/* ---------------------------------------------------------------------------------------- */
