<button class="btn btn-primary m-1" data-toggle="modal" data-target="#modalEquipo"><b>Agregar equipo</b></button>
<!-- 
<button class="btn btn-primary m-1" data-toggle="modal" data-target="#modalFab"><b>Agregar Fabricante</b></button>
<button class="btn btn-primary m-1" data-toggle="modal" data-target="#modalDisco"><b>Agregar Disco Duro</b></button>
<button class="btn btn-primary m-1" data-toggle="modal" data-target="#modalProcesador"><b>Agregar Procesador</b></button>
<button class="btn btn-primary m-1" data-toggle="modal" data-target="#modalRefpc"><b>Agregar Referencia PC</b></button>
<button class="btn btn-primary m-1" data-toggle="modal" data-target="#modalRefimp"><b>Agregar Ref Impresora</b></button>

<button mat-raised-button (click)="openDialog()">Pick one</button>

<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">QR</th>
        <th scope="col">Fabricante</th>
        <th scope="col">Referencia</th>
        <th scope="col">Disco duro</th>
        <th scope="col">RAM</th>
        <th scope="col">Procesador</th>
        <th scope="col">Persona a cargo</th>
        <th scope="col">QR Imp</th>
        <th scope="col">Ref Imp</th>
        <th scope="col">Persona a Cargo Imp</th>
        <th scope="col">Observaciones</th>
      </tr>
    </thead>
    <tbody>

    </tbody>
</table>


<div class="btn-group col-sm-12" style="margin:0 auto" role="group" aria-label="Basic example">
    <button class="btn btn-primary m-1" data-toggle="modal" data-target="#modalEquipo"><b>Agregar equipo</b></button>
    <button class="btn btn-primary m-1" data-toggle="modal" data-target="#modalFab"><b>Agregar Fabricante</b></button>
    <button class="btn btn-primary m-1" data-toggle="modal" data-target="#modalDisco"><b>Agregar Disco Duro</b></button>
    <button class="btn btn-primary m-1" data-toggle="modal" data-target="#modalProcesador"><b>Agregar Procesador</b></button>
    <button class="btn btn-primary m-1" data-toggle="modal" data-target="#modalRefpc"><b>Agregar Referencia PC</b></button>
    <button class="btn btn-primary m-1" data-toggle="modal" data-target="#modalRefimp"><b>Agregar Ref Impresora</b></button>
</div>


            

<div class="modal p-5" id="modalFab" data-backdrop="static">
    <div class="modal-dialog me-20" role="document">
        <div class="modal-content">
            <app-modfabricante></app-modfabricante>
        </div>
    </div>
</div>

<div class="modal m-5" id="modalDisco" data-backdrop="static">
    <div class="modal-dialog me-20" role="document">
        <div class="modal-content">
            <app-modisco></app-modisco>
        </div>
    </div>
</div>
<div class="modal m-5" id="modalProcesador" data-backdrop="static">
    <div class="modal-dialog me-20" role="document">
        <div class="modal-content">
            <app-modprocesador></app-modprocesador>
        </div>
    </div>
</div>
<div class="modal m-5" id="modalRefpc" data-backdrop="static">
    <div class="modal-dialog me-20" role="document">
        <div class="modal-content">
            <app-modrefpc></app-modrefpc>
        </div>
    </div>
</div>
<div class="modal m-5" id="modalRefimp" data-backdrop="static">
    <div class="modal-dialog me-20" role="document">
        <div class="modal-content">
            <app-refimp></app-refimp>
        </div>
    </div>
</div>




-->
<div class="modal p-5" id="modalEquipo" data-backdrop="static">
    <div class="modal-dialog me-20" role="document">
        <div class="modal-content">
            <app-modequipo></app-modequipo>
        </div>
    </div>
</div>  

<div class="contenedor">
    <div class="botones">
        <button mat-raised-button color="primary"  (click)="openEquipo()" >Agregar Equipo</button>
        <button mat-raised-button color="primary" (click)="openFabricante()" >Agregar Fabricante</button>
        <button mat-raised-button color="primary" (click)="openDisco()">Agregar Disco</button>
        <button mat-raised-button color="primary" (click)="openProcesador()">Agregar Procesador</button>
        <button mat-raised-button color="primary" (click)="openReferenciaPC()">Agregar Referencia PC</button>
        <button mat-raised-button color="primary" (click)="openImpresora()">Agregar Ref Impresora</button>
    </div>
    
    <hr>

    <div class="mat-elevation-z8 tabla">
            <table mat-table [dataSource]="dataSource">
          
              <!-- Position Column -->
              <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef> No. </th>
                <td mat-cell *matCellDef="let element"> {{element.position}} </td>
              </ng-container>
          
              <!-- Name Column -->
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
              </ng-container>
          
              <!-- Weight Column -->
              <ng-container matColumnDef="weight">
                <th mat-header-cell *matHeaderCellDef> Weight </th>
                <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
              </ng-container>
          
              <!-- Symbol Column -->
              <ng-container matColumnDef="symbol">
                <th mat-header-cell *matHeaderCellDef> Symbol </th>
                <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
              </ng-container>
          
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          
            <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                           showFirstLastButtons
                           aria-label="Select page of periodic elements">
            </mat-paginator>
    </div>

</div>


